<% if current_user %>
	<h2>Add a new location</h2>
	<%= form_for @location, :html => { :class => "form-horizontal", :class => "form" } do |f| %>
	  <div><%= f.label :"location name", :class=>"control-label" %>:
	  <%= f.text_field :name, class: "form-control" %><br /></div>
	  <div><%= f.label :"location coordinates", :class=>"control-label" %>:
	  <%= f.text_field :address, class: "form-control" %><br /></div>
	  <% f.hidden_field(:user_id, :value => current_user.id) %>

	  <%= f.submit %>
	<% end %>
<% end %>

<script>
 // function to get current location from browser
	function getRouteTime(id, address) {
	  if (!navigator.geolocation) {
	    x.innerHTML = "Geolocation is not supported by this browser.";
	    return;
	  }
	  
	  navigator.geolocation.getCurrentPosition(function (position) {
	  	getRouteTime2(id, address, position);
	  });
	}

 // pass generated location and address info to wrapper/api
	function getRouteTime2(id, address, position) {
		$.post("<%= get_data_path %>", {
			address_info: address,
			lat: position.coords.latitude,
			lon: position.coords.longitude
		}, function (data) {
			showRouteTime(id, data);
		});
	}

	// return info to display on appropriate location
	function showRouteTime(id, data) {
		var x = document.getElementById("route_time_" + id);
  	x.innerHTML = data.time;
	}
</script>

<% if current_user %>
	<h2>My Locations</h2>
<div class="table-responsive">
	<table class="table">
		<th>Location Name</th>
		<th>Location Address</th>
		<th>Get Driving Data</th>
		<th>Estimated Time</th>
		<th>Delete Location</th>
		<% @my_locations.each do |location| %>
		<tr>
			<td><%= location.name %></td>
			<td><%= location.address %></td>
			<!-- start js  -->
			<td><button onclick="getRouteTime(<%= location.id %>, '<%= location.address %>')">Get Route Time</button></td>
			<!-- generate id for specific location -->
			<td><p id="route_time_<%= location.id %>"></p></td>
			<td><%= button_to "Delete", destroy_location_path, method: :delete, 
					params: { confirm: "Are you sure?", location_id: location.id }%></td>
		<% end %>
	</tr>
	</table>
</div>
<% end %>