<h1>Routes View</h1>

<h2>Add a new location</h2>
<%= form_for @location do |f| %>
  <%= f.label :"address or coordinates" %>:
  <%= f.text_field :address %><br />
  <% f.hidden_field(:user_id, :value => current_user.id) %>

  <%= f.submit %>
<% end %>

<h2>My Locations</h2>
<ul>
	<% @my_locations.each do |location| %>
	<li>
		<%= location.address %>
	</li>
	<% end %>
</ul>